<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Заказ в магазине "Провиант"</title>
</head>
<body style="max-width: 750px; font-family: 'Montserrat', sans-serif; margin: 0; padding: 0;">
<div style="background-color: #D3EAC3;">
    <p style="margin: 0; padding: 0; text-align: center;">
        <img style="padding: 10px 0 15px 0;" src="http://i.yapx.ru/R7NVY.png" height="60" alt="Логотип компании">
    </p>
</div>
<div style="margin-top: 20px; width: 100%; text-align: center;">
    <div style="font-size: 32px; font-weight: bold;">Заказ # <span style="margin: 0; padding: 0;"
                                                                   th:text="${order.getId()}"/></div>
    <div style="padding: 10px 0; font-size: 20px;">
        Дата и время:
        <span th:text="${dateFormat.formatDate(order.getDate())}"></span>
    </div>
    <div style="font-size: 28px; font-weight: bold;">
        Данные о покупателе:
    </div>
    <table style="margin: auto">
        <tr style="font-size: 20px;">
            <td th:text="${order.getClient().getSurname()}">
                фамилия
            </td>
            <td th:text="${order.getClient().getName()}">
                имя
            </td>
            <td th:text="${order.getClient().getMiddleName()}">
                отчество
            </td>
        </tr>
    </table>
    <div style="font-size: 20px;" th:text="${order.getClient().getEmail()}">
        номер телефона
    </div>
    <div style="font-size: 20px;" th:text="${order.getClient().getPhoneNumber()}">
        почта
    </div>
    <div style="padding-top: 20px; font-size: 28px; font-weight: bold;">
        Список заказанных товаров:
    </div>
    <table style="font-size: 18px; margin: auto;">
        <tr th:each="products, counter : ${productList}">
            <th style="color: #46B14B;">Наименование</th>
            <td> -</td>
            <td style="text-align: left" th:text="${products.getName()}"></td>
            <th style="padding-left: 15px; color: #46B14B;">Сумма</th>
            <td> -</td>
            <td th:text="${order.getOrderItems().get(counter.index).getPrice()}">руб</td>
            <th style="padding-left: 15px; color: #46B14B;">Количество</th>
            <td> -</td>
            <td th:text="${order.getOrderItems().get(counter.index).getWeight()}"></td>
            <td th:text="${products.getTypeMeasuring()}"></td>
        </tr>
    </table>
    <div style="padding-top: 20px; font-size: 28px; font-weight: bold;">
        Сумма заказа составляет:
        <span th:text="${order.getPrice()}"></span>
        руб
    </div>
</div>
<div style="width: 100%; margin-top: 20px; padding: 20px 0; text-align: center; background-color: #D3EAC3;">
    Вы получили это письмо, потому что покупатель <br> сделал новый заказ на сайте <strong> proviant31.ru </strong>
</div>
</body>
</html>