<!DOCTYPE html>
<html lang="en" style="width:100%; background-color: #FCFFF6;" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Заказ в магазине "Провиант"</title>
</head>

<body style=" height: 100%; max-width: 750px; font-family: 'Montserrat', sans-serif; text-align: center;">
    <table style="display: flex; flex-direction:column; align-items: center; gap: 15px;">
        <header
            style=" height: 75px; width: 100%;  margin-bottom: 10px; background-color: #D3EAC3; text-align: center;">
           <img src="http://i.yapx.ru/R7NVY.png" height="60" alt="Логотип компании"> </header>
        <div style="margin-bottom: 10px; font-size: 36px;"><strong>Спасибо за заказ</strong></div>
        <div style="margin-bottom: 10px; font-size: 28px;">
         <strong th:text="${order.getClient().getName()}"></strong> ваш заказ #<strong th:text="${order.getId()}"></strong> ждет оплаты!</div>
        <div style="margin-bottom: 10px; font-size: 20px;">Заказанные товары будут ожитать вас по адресу Красная Яруга д.41</div>
        <div style="margin-bottom: 10px; font-size: 20px;">Заказ будет храниться в течении 24 часов после <span th:text="${dateFormat.formatDate(order.getDate())}"/></div>
        <div style="margin-bottom: 10px; font-size: 24px;"><strong>Для получения заказа: </strong>
            <ul style="margin-bottom: 10px; font-size: 20px;">
                <li>Предъявите номер вашего заказа продавцу</li>
                <li>Или распечатойте документы и покажите их продавцу
                </li>
            </ul>
        </div>
        <tr style="margin-bottom: 10px; font-size: 24px; text-align: center;">Оплатить заказ вы можете с помощью: наличных или
            банковской карты</tr>
        <div
            style="width: 100%; border:#898989; font-size: 28px; text-align: center;">
            <div><strong> Список заказнных товаров</strong></div>
            <div
                style="display: flex; margin-left: 50px; font-size: 18px;" th:each="orderPropetries : ${order.getOrderItems()}">
                <p style="color: #46B14B; margin-right: 5px">Наименование</p><p style="margin-right: 5px"> - </p><p style="margin-right: 15px" th:text="${orderPropetries.getProduct().getName()}" > </p>
                <p style="color: #46B14B; margin-right: 5px">Сумма</p><p style="margin-right: 5px"> - </p><p style="margin-right: 5px" th:text="${orderPropetries.getPrice()}"> </p><p>руб</p>
                <p style="color: #46B14B; margin-left: 15px" th:text="${orderPropetries.getWeight()}" ></p> <p style="margin-left: 5px" th:text="${orderPropetries.getProduct().getTypeMeasuring()}" ></p>
            </div>
        </div>
        <div style="margin-bottom: 10px; font-size: 26px;">Сумма заказа составляет: <strong th:text="${order.getPrice()}">price_order</strong> руб</div>
        <tr
            style=" height: 75px; width: 100%; margin-bottom: 10px; background-color: #D3EAC3; text-align: center; font-size: 20px;">
            <td>Вы получили этот
                письмо, потому что заказали продукты на сайте <strong>proviant31.ru</strong></td>
        </tr>
    </table>
</body>

</html>